:root {
    --primary-yellow: #FEE440;
    --primary-green: #55A630;
    --white: #FFFFFF;
    --dark-text: #2d3436;
    --light-gray: #f9f9f9;
}

body {
    margin: 0; 
    font-family: 'Inter', sans-serif;
    background-color: var(--white); /* Fond blanc propre */
    color: var(--dark-text);
    padding-bottom: 80px; 
    transition: 0.3s;
}

/* Header avec un dégradé frais */
.navbar { 
    display: flex; 
    justify-content: space-between; 
    padding: 15px; 
    background: var(--white); 
    align-items: center; 
    border-bottom: 2px solid var(--primary-yellow); /* Ligne jaune sous le menu */
}

.logo { font-size: 22px; font-weight: 800; color: var(--primary-green); }
.logo span { color: var(--primary-yellow); }

/* Barre de recherche stylée */
.search-box input { 
    flex: 1; 
    padding: 12px; 
    border: 2px solid var(--primary-green); 
    border-radius: 12px; 
    outline: none; 
}

.search-box button { 
    background: var(--primary-yellow); 
    color: var(--primary-green); 
    border: none; 
    padding: 0 15px; 
    border-radius: 12px;
    font-weight: bold;
}

/* Boutons de catégories */
.tab.active { 
    background: var(--primary-green); 
    color: var(--white); 
    border-color: var(--primary-green); 
}

/* Bouton WhatsApp Vert */
.order-btn { 
    width: 100%; 
    background: var(--primary-green); 
    color: var(--white); 
    border: none; 
    padding: 10px; 
    border-radius: 10px; 
    font-weight: bold; 
    box-shadow: 0 4px 6px rgba(85, 166, 48, 0.2);
}

/* Bouton central plus (+) en Jaune */
.plus-btn i { 
    color: var(--primary-yellow); 
    background: var(--primary-green);
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
}
